
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial,sans-serif;
  font-size: 24px;

}
h1, h2, h3, h4, h5, h6{
  color: black;
  font-family: 'Russo One', sans-serif;
}

p, li, ol, ul, label, input, span, textarea {
  color: black;
  font-family: 'Roboto Mono', monospace;
}
a{
  text-decoration: none;
  color: #17a2b8;
}
h1{ font-size:56px };
h2{ font-size:36px };
h3{ font-size:28px };
h4{ font-size:24px };
h5{ font-size:20px };
h6{ font-size:16px };
.s1{
  background-color: red;
  border: 2px solid black;
  overflow: auto;
}
.s2{
  background-color: red;
  border: 2px solid gray;
  overflow: auto;
}
.main-container{
  width: 1200px;
  margin: 0 auto;


}
.greeting-wrapper{
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid lightcoral;
  min-height: 10em;
  background-color: red;

}
.intro-wrapper{
  background: cyan;
  box-shadow: 0 0 0 20px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:3em 20cm;
  border-top-radius:20px;
  border-top-right-radius: 20px;
  grid-template-areas:
  'nav nav'
  'left right'
}
.nav{
  grid-area: nav;
  border-bottom: :1px solid grey;
  display:flex;
  align-items: center;
  justify-content: center;
}
.dot{
  width: 15px;
  height: 15px;
  background-color:cyan;
  border-radius: 50%;
  width:15px;s
}
.left{
  grid-area: left;
}
.right{
  border: 2px solid black;
  grid-area: right;
}


}
@media screen and(max-width: 1000px){
  .main-container{
    width: 95%;
  }
}
